<div class="container login" id="login">
  <div class="frame cf" style="width: 295px;">

    <h2>Log in to Tweebo</h2>
    <div class="col cf">
    <form action="<%= sessions_path -%>" class="login email" method="POST">
      <fieldset class="block">
        <div class="row">
          <%= text_field_tag :login, params[:login], :class => "phfield", :id => "email" %>
          <label class="ph" for="email">Username or Email address</label>
        </div>
        <div class="row">
          <%= password_field_tag :password %>
          <label class="ph" for="password">Password</label>
        </div>
      </fieldset>
      <div class="actions cf">
        <div class="keeploggedin">
          <%= link_to "Sign up!", signup_path %>
        </div>
        <input type="submit" value="Log in" class="button login">
      </div>
    </form>
    <br/><br/>
    </div>
  </div>

  <footer class="center" role="footer">
    <p class="quote">
      “Microblogging at it's best” <br>~ Read Write Web
    </p>
  </footer>
</div>
