	<% this_user = User.find(params[:id]) %>
	<%  this_user.friendships.each do |friend|%>
		<% f_id = friend.friend_id %>
		<b><div class="users" ><b/>
			<%=  User.find(:first, :conditions => ['id = ?', f_id]).username %><br />
		<b></div></b>
	<% end %>
