<p><%= render :partial => "users/login" %></p>
<% if logged_in? %>
	<%= form_tag({:controller => "posts", :action => "create"}, {:class => 'new'}) do %>
  	<%= text_area_tag(:message, nil, :placeholder => "What's happening?", :tabindex => '1', :class => "thing phfield") %> <br/>
  	<div class="actions cf">
      <button tabindex="3" class="button save"><span class="icon">Tweet</span></button>
    </div>
	<% end %>
<% end %>


