<% if not current_user.nil? %>
  <% friends_of_current_user = current_user.friendships %>

  <% array_of_friend_ids = Array.new %>
  <% posts_to_be_displayed = Array.new %>

  <% friends_of_current_user.each do |friend| %>
    <% array_of_friend_ids.append friend.friend_id %>
  <% end %>
  
  <% array_of_friend_ids.each do |friend_id| %>
    <% posts_to_be_displayed = posts_to_be_displayed + Post.find(:all, :conditions => ['? = ?', @user_id, friend_id]) %>
  <% end %>
  mridula
  <% posts_to_be_displayed.each do |post_to_be_displayed|%>
    <p><b>Posted <%= time_ago_in_words(post_to_be_displayed.created_at) %></b></p>
    <p><%= post_to_be_displayed.user.username + ": " %> mridula
    <%= post_to_be_displayed.message %> </p> 
  <% end %>

<% end %>