
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweebo</title>
    <link type="image/png" href="http://beta.moped.com/img/favicon.png" id="favicon" rel="shortcut icon">
    <link href="http://beta.moped.com/img/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="http://beta.moped.com/img/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="http://beta.moped.com/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <script src="http://beta.moped.com//d15qhc0lu1ghnk.cloudfront.net/beacon.js" async=""></script><script type="text/javascript" async="" defer="" src="https://api.mixpanel.com/track/?data=eyJldmVudCI6ICJtcF9wYWdlX3ZpZXciLCJwcm9wZXJ0aWVzIjogeyIkb3MiOiAiTWFjIE9TIFgiLCIkYnJvd3NlciI6ICJGaXJlZm94IiwiJGluaXRpYWxfcmVmZXJyZXIiOiAiIiwiJGluaXRpYWxfcmVmZXJyaW5nX2RvbWFpbiI6ICIiLCJtcF9uYW1lX3RhZyI6ICJjaGlyYW50YW4iLCJtcF9icm93c2VyIjogIkZpcmVmb3giLCJtcF9wbGF0Zm9ybSI6ICJNYWMgT1MgWCIsIm1wX3BhZ2UiOiAiaHR0cHM6Ly9iZXRhLm1vcGVkLmNvbS8iLCJ0b2tlbiI6ICJiM2JlZWNjMmEzOTI1MWExMmQwZWQ1ZTcwMmY2YmM5ZiIsInRpbWUiOiAxMzMxMzA5OTMyfX0%3D&amp;ip=1&amp;callback=mpq.metrics.jsonp_callback&amp;_=1331309932789"></script><script type="text/javascript" async="" id="gauges-tracker" data-site-id="4eeb71a8f5a1f554d4000003" src="http://beta.moped.com//secure.gaug.es/track.js"></script><script type="text/javascript" async="" src="https://api.mixpanel.com/site_media/js/api/mixpanel.js"></script>

    <script type="text/javascript" src="https://d3dy5gmtp8yhk7.cloudfront.net/1.11/pusher.min.js"></script>

    <link type="text/css" rel="stylesheet" media="all" href="http://beta.moped.com/cache/style-adf22dc260e4dee73605f372bc98eaa5836010ff.css">
    <script type="text/javascript" src="http://beta.moped.com/cache/libs-3bc7b584b1ea0d9b6cb9b2a1403fa9d1e183ce60.js"></script>
    <script type="text/javascript" src="http://beta.moped.com/cache/index-057d2932ca39c94228b74ec025d122e8ab725fef.js"></script>
  </head>

  <body>
     <%= yield %>
   <div id="humane" class="humane"></div>
  </body>
</html>
